.hero-section {
    margin-bottom: 160px;
}

.hero {
    position: relative;
    width: 100%;
    max-width: 1110px;
    padding: 13% 30% 13% 8.5%;
    background-color: #e7816b;
    background-image: url("../images/Oval.png"), url("../images/tell.png");
    background-position: right center, 88% bottom;
    background-repeat: no-repeat;
    background-size: contain, 25%;

    &__heading {
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
        width: 100%;
        max-width: 540px;
        font-weight: 500;
        font-size: 48px;
        line-height: 48px;
        color: #ffffff;
    }

    &__desc {
        margin: 0;
        padding: 0;
        margin-bottom: 40px;
        width: 100%;
        max-width: 445px;
        font-size: 16px;
        line-height: 26px;
        color: #ffffff;
    }
}

@media only screen and (max-width: 900px) {
    .hero-section {
        margin-bottom: 140px;
    }

    .hero {
        &__heading {
            margin: 0;
            padding: 0;
            margin-bottom: 25px;
            width: 100%;
            max-width: 450px;
            font-weight: 400;
            font-size: 44px;
            line-height: 44px;
        }

        &__desc {
            margin-bottom: 30px;
            width: 100%;
            max-width: 350px;
        }
    }
}

@media only screen and (max-width: 810px) {
    .hero-section {
        margin-bottom: 130px;
    }

    .hero {
        &__heading {
            width: 100%;
            max-width: 500px;
            font-weight: 350;
            font-size: 40px;
            line-height: 40px;
        }

        &__desc {
            width: 100%;
            max-width: 330px;
            font-size: 15px;
            line-height: 24px;
        }
    }
}

@media only screen and (max-width: 690px) {
    .hero-section {
        margin-bottom: 120px;
    }

    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 690px;
        padding: 9% 2% 70%;
        background-position: 100px center, center 450px;
        background-repeat: no-repeat;
        background-size: contain, 45%;

        &__heading {
            margin-bottom: 25px;
            width: 100%;
            max-width: 575px;
            font-weight: 400;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
        }

        &__desc {
            margin-bottom: 30px;
            width: 100%;
            max-width: 440px;
            text-align: center;
            font-size: 15px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 520px) {

    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 690px;
        padding: 9% 2% 70%;
        background-position: 80px center, center 400px;
        background-repeat: no-repeat;
        background-size: contain, 45%;

        &__heading {
            margin-bottom: 25px;
            width: 100%;
            max-width:390px;
            font-weight: 400;
            font-size: 38px;
            line-height: 38px;
            text-align: center;
        }

        &__desc {
            margin-bottom: 30px;
            width: 100%;
            max-width: 340px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@media only screen and (max-width: 420px) {

    .hero {
        background-position: 20% center, center 350px;

        &__heading {
            margin-bottom: 25px;
            width: 100%;
            max-width:390px;
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
            text-align: center;
        }

        &__desc {
            margin-bottom: 30px;
            width: 100%;
            max-width: 270px;
            text-align: center;
            font-size: 12px;
            line-height: 18px;
        }
    }
}